@CHARSET "UTF-8";
/* header */
#logo {
	margin-top: 15px;
	padding: 5px;
	float: left;
}
#hd_sec1 {
	width: 870px;
	height: 105px;
	margin-top: 5px;
	float:right;
}
#submenu {
	float: right;
}
#submenu a {
	text-decoration: none;
	color: white;
	padding-right: 5px;
}
#submenu a:hover {color:orange;}
#submenu .sitem {
	display: none;
}
#submenu .sitem.on {
	display: inline;
}
li a {
	text-decoration: none;
	color: white;
}
ul {list-style:none;}
a {vertical-align:top; text-decoration:none;}
a:hover {color:orange;}
#gnb {position:relative; width:870px; height: 70px; margin-top: 40px;}
#gnb:after {content:" "; display:block; clear:both;}
#gnb .item {width: 160px; text-align: center; float: left; margin-right:10px; height:20px;}
#gnb .item .menu {float:left; position:relative; width:160px; height:20px;}
#gnb .item .menu span {position:absolute; width:100%; height:20px;}
#gnb .item .sub {display:none; float:left; position:relative; padding:10px 0; font-size:12px;}
#gnb .item .sub li {float: left; margin:0 10px; text-align: center; }
#gnb .item #sub1 {width: 680px; margin-left: 0px;}
#gnb .item #sub2 {width: 520px; margin-left: -150px;}
#gnb .item #sub3 {width: 550px; margin-left: -170px;}
#gnb .item #sub4 {width: 180px; margin-left: 0px;}
#gnb .item #sub5 {width: 500px; margin-left: -185px;}
#gnb .item.on .sub {display:block;}
#gnb .item li { float: left; margin: 0 10px; }